body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr, auto, auto, 1fr;
  justify-content: center;
  align-items: center;
  grid-gap: 1em;
  overflow-x: hidden;
}
#butt {
  grid-column: 2/3;
}
.square {
  grid-column: 3/4;
  background-color: magenta;
  width: 5em;
  height: 5em;
  transition: transform .6s cubic-bezier(.17,.67,.71,1.29);
}
.square__extend {
  transform: translateX(50vw);
}
