html {
  background-color: green;
}
body {
  height: 100vh;
  width: 100vh;
  display: grid;
  margin: 0px;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  background-color: gray;
  grid-gap: 0px;
}
#butt {
  grid-column: 4;
  grid-row: 5;
}
.square__magenta {
  grid-column: 10;
  grid-row: 4;
  background-color: magenta;
  width: 10em;
  height: 5em;
  transition: transform .6s cubic-bezier(.17,.67,.71,1.29);
}
.square__blue {
  grid-column: 10;
  grid-row: 5;
  background-color: blue;
  width: 10em;
  height: 5em;
  transition: transform .6s cubic-bezier(.17,.67,.71,1.29);
  transition-delay: 0.3s;
}
.square__red {
  grid-column: 10;
  grid-row: 6;
  background-color: red;
  width: 10em;
  height: 5em;
  transition: transform .6s cubic-bezier(.17,.67,.71,1.29);
  transition-delay: 0.66s;
}
.square__extend {
  transform: translateX(50vw);
}
